node_modules/
cypress/screenshots/
cypress/videos/
*.zip
# private environment variables
.as-a.ini

# output folders and files
checkbox/
dark-checkbox/
output/
failed/
page/
.DS_Store
*.png
use-https/
iframes
page-with-fail-assets/
import/
page - yes/
